<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Welcome to my Web site </h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <!--<a class="p-2 text-dark" href="#">Features</a>
          <a class="p-2 text-dark" href="#">Enterprise</a>
          <a class="p-2 text-dark" href="#">Support</a>-->
          <a class="p-2 text-dark" href="/dashboard">Dashboard</a>
          <a class="p-2 text-dark" href="/ota_auth">OTA_AUTH</a>
          <a class="p-2 text-dark" href="#">Help</a>
        </nav>
        {%if session.logged_in%}
        <a  href="/logout">Logout</a>
        <a  href="/dashboard">Dashboard</a>
        {% else %}
        <a class="btn btn-outline-primary" href="/register">Sign up</a>
        <a class="btn btn-outline-primary" href="/login">Login</a>
        
        {% endif %}
      </div>